@import "../../../colors";
.main-logo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  a .logo-img {
    width: 128px;
    margin: 0 1em;
  }
  .logo-text {
    font-size: 2em;
    .logo-name {
      text-shadow: 0 2px 2px $red-dark;
      a {
        color: $main-red;
        transition: color .2s;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
    .logo-slogan {
      a {
        text-decoration: none;
        color: $main-red;
        transition: color .2s;
      }
    }
    & .logo-name a:hover, .logo-slogan a:hover {
      color: $red-clean;
    }
  }
}
