@import "../../../colors";
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5em;
  background-color: $main-yellow;
  box-shadow: 0 2px 5px $yellow-dark;
  .main-nav .navbar-list {
    padding: 0;
    display: flex;
    gap: 2em;
    .navbar-item {
      list-style: none;
    }
  }
}
