<main class="main-cliente-list">
  <section class="list-container">
    <div *ngIf="clientes.length === 0" class="empty-message">
      {{ clientes.length === 0 ? 'Nenhum cliente cadastrado' : 'Nenhum resultado encontrado' }}
    </div>
    <ul class="cliente-list" *ngIf="clientes.length > 0">
      <li class="cliente-list__item" *ngFor="let cliente of clientes">
        <div class="cliente-list__item-content">
          <p><strong>Nome:</strong> {{ cliente.nome }}</p>
          <p><strong>CPF: </strong>{{ cliente.cpf }}</p>
          <p><strong>Data de Nascimento: </strong>{{ cliente.dataNascimento }}</p>
        </div>
        <div class="cliente-list__item-content">
          <p><strong>Endereço:</strong> {{cliente.endereco?.logradouro}} {{cliente.endereco?.numero}}, {{cliente.endereco?.bairro}} </p>
          <p><strong>{{cliente.endereco?.cidade}} - {{cliente.endereco?.estado}}</strong></p>
          <p><strong>CEP:</strong> {{cliente.endereco?.cep}}</p>
        </div>
        <div class="cliente-list__item-content">
          <ul class="contato-list">
            <app-lista-contatos [cliente]="cliente" />
          </ul>
        </div>
        <div class="cliente-list__item-action">
          <app-button (onClick)="handleClienteEdited(cliente)" typeBtn="update" label="Editar Cliente" />
          <app-button (onClick)="deleteCliente(cliente)" typeBtn="delete" label="Excluir Cliente" />
        </div>
      </li>
    </ul>
  </section>
  <app-button label="Adicionar Cliente" (onClick)="toggleOverlayCreate()" typeBtn="create"/>
  <div *ngIf="showOverlayCreate">
    <app-form [model]="cliente" [formFields]="clienteFormFields" (formSubmit)="addCliente($event)" />
  </div>
  <div *ngIf="showOverlayEdit">
    <app-form [model]="cliente" [formFields]="clienteFormFields" (formSubmit)="updateCliente($event)" />
  </div>
</main>
