<article class="card-container">
  <ng-container *ngFor="let contato of contatos">
    <section class="card-content">
      <div class="card-content__text">
        <p>
          <strong>{{ contato.tipo }}:</strong> {{ contato.valor }}
        </p>
        <p *ngIf="contato?.observacao">Observação: {{ contato.observacao }}</p>
      </div>
      <ng-container *ngIf="!showOverlayActions">
        <app-button (onClick)="toggleOverlayActions()" typeBtn="edit" label="Mostrar Ações"/>
      </ng-container>
      <div class="card-content__action" *ngIf="showOverlayActions">
        <h2>Ações <span class="minus" (click)="toggleOverlayActions()">-</span></h2>
        <app-button (onClick)="handleContatoEdited(contato)" typeBtn="update" label="Editar Contato" />
        <app-button (onClick)="deleteContato(contato)" typeBtn="delete" label="Excluir Contato" />
      </div>
    </section>
  </ng-container>
</article>
<p *ngIf="!contatos || contatos.length === 0">Nenhum dado disponível, adicione um registro</p>
