@import "../../colors";
.main-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .main-title {
    font-size: 5.6rem;
    text-shadow: 0 2px 2px $main-red;
  }
}
