<article class="home-container">
    <h1>Seja bem vindo ao Comércio S.A.!</h1>
    <p>Aqui você pode listar seus clientes e seus contatos, além de poder criar, deletar e atualizar os clientes e os contatos.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex eum provident commodi dignissimos. Eligendi minima iste aspernatur dolores distinctio laboriosam, qui ipsa illo, ex quo cupiditate vero maiores magni, repellendus est delectus. Veniam, placeat labore, exercitationem soluta natus, nam quibusdam a quia ipsam eius iste sed modi et ea facilis!</p>
</article>