@import "../../../colors";
.btn {
  cursor: pointer;
  border-radius: 1rem;
  font-size: 1.6rem;
  border: 0;
  text-transform: uppercase;
  font-weight: 800;
  transition: all .2s;
  padding: 1.6rem;
  margin: .8em ;

  &:disabled {
    cursor: not-allowed;
  }
}
.create-btn {
  outline: 2px solid $main-blue;
  background-color: $main-yellow;
  color: $main-red;
  &:hover {
    outline: 2px solid $blue-dark;
    background-color: $yellow-dark;
    color: $red-dark;
  }
  &:disabled {
    background-color: $yellow-dark;
  }
}
.list-btn {
  background-color: $blue-clean;
  color: $blue-dark;
  &:hover {
    background-color: $main-blue;
  }
  &:disabled {
    background-color: $blue-dark;
    color: $blue-clean;
  }
}
.update-btn {
  outline: 2px solid $main-yellow;
  background-color: $yellow-clean;
  color: $yellow-dark;
  &:hover {
    background-color: $main-yellow;
  }
}
.delete-btn {
  outline: 2px solid $main-red;
  background-color: $red-clean;
  color: $red-dark;
  &:hover {
    background-color: $main-red;
  }
}

.navbar-link-btn {
  border: 2px solid $yellow-dark;
  background-color: $yellow-clean;
  text-shadow: 0 2px $main-yellow;
  &:hover {
    background-color: $yellow-dark;
  }
}
